@import "../../vendor/fonts.css";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 15px;
  width: 400px;
  height: 576px;
}

.card__image {
  border-radius: 15px 15px 0 0;
  width: 400px;
  height: 272px;
}

.card__picture_group {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 360px;
}

.card__category {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 150px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.card__category_none {
  visibility: hidden;
}

.card__button {
  background-color: white;
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 40px;
}

.card__button_text {
  position: absolute;
  right: 65px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 150px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
}

.card__button_text-hidden {
  display: none;
}

.card__button_image {
  height: 24px;
  width: 24px;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: white;
  flex: 1 1 auto;
  border-radius: 0 0 15px 15px;
  gap: 10px;
}

.card__date {
  margin: 0;
  display: flex;
  align-items: center;
  color: rgba(182, 188, 191, 1);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
}

.card__title {
  height: 60px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 352px;
  height: 60px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: rgba(26, 27, 34, 1);
}

.card__description {
  height: 110px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 352px;
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(26, 27, 34, 1);
}

.card__author {
  height: 20px;
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(182, 188, 191, 1);
  letter-spacing: 0.4px;
}
