@import url("../../vendor/fonts.css");

.menu__links {
  text-decoration: none;
}
.menu__home {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  height: 56px;
  max-width: 399px;
  padding-left: 10px;
}
