@import url("../../vendor/fonts.css");

.header__section_saved {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: 0.05px solid gray;
  text-decoration: none;
  box-sizing: border-box;
}

.header__links_saved {
  text-decoration: none;
}

.header__title_saved {
  color: rgba(26, 27, 34, 1);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__options_saved {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.header__home_saved {
  color: rgba(26, 27, 34, 1);
  height: 80px;
  display: flex;
  align-items: center;
}

.header__articles_saved {
  color: rgba(26, 27, 34, 1);
  border-bottom: 3px solid rgba(26, 27, 34, 1);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
}

.header__button_saved {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  height: 100%;
  border-bottom: 2px solid rgba(26, 27, 34, 1);
}

.header__profile_saved {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgba(26, 27, 34, 1);
  border-radius: 40px;
  width: 112px;
  height: 48px;
}

.header__name_saved {
  color: rgba(26, 27, 34, 1);
}

.header__pic_saved {
  background: none;
  border: none;
  display: flex;
}

.header__image {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  .header__section_saved {
    height: 66px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .header__articles_saved {
    width: 160px;
    height: 66px;
  }
  .header__profile_saved {
    width: 100px;
    height: 40px;
    border: 2px solid rgba(209, 210, 214, 1);
  }
  .header__name_saved {
    padding-left: 5px;
  }

  .header__options_saved {
    gap: 20px;
  }

  .header__home_saved {
    width: 64px;
  }
}

@media screen and (min-width: 300px) and (max-width: 399px) {
  .header__section {
    height: 56px;
    max-width: 399px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0.05px solid gray;
    box-sizing: border-box;
  }
  .header__title {
    font-size: 16px;
    color: rgba(26, 27, 34, 1);
  }
  .header__menu {
    background: none;
    border: none;
  }
}
