@import url("../../vendor/fonts.css");

.results {
  display: flex;
  padding: 75px 100px;
  background-color: rgba(245, 246, 247, 1);
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.results__title {
  margin: 0;
  color: black;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.results__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results__button_text {
  width: 288px;
  height: 64px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  background-color: rgba(232, 232, 232, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
