.container {
  background-image: url("https://th.bing.com/th/id/R.3b23908f4530b7b9eec2a7a684bed00c?rik=zRNTi9fmIVW8OA&pid=ImgRaw&r=0");
  background-size: cover;
  background-repeat: no-repeat;
  height: 576px;
  width: 100%;
}
